<footer>       

    <div class="px-3">
        <div class="theme-container">

            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="copyright">
                <p ngClass.xs="mt-1">Copyright © 2024 All Rights Reserved</p>
                <p>Designed & Developed by <a mat-button href="https://luicit.github.io/CV-Luis-R-Aguilar/" target="_blank" color="warn">Luis R. Aguilar</a></p>
            </div>

        </div>
    </div>                  
                
</footer>
