<mat-toolbar id="top-toolbar" class="top-toolbar">
    <div class="theme-container" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
        <span fxHide="false" fxHide.gt-sm>
            <button mat-button (click)="sidenavToggle()">
                <mat-icon class="mat-icon-md m-0">menu</mat-icon>
            </button>
        </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" class="">
            <app-lang></app-lang>
            <app-user-menu></app-user-menu>
        </div>
    </div>
</mat-toolbar>
<mat-toolbar id="main-toolbar" class="mat-elevation-z2">
    <div class="theme-container" fxLayout="row" fxLayoutAlign="space-between center">
        <a class="logo" routerLink="/">
            <app-logo></app-logo>
        </a>
        <div fxShow="false" fxShow.gt-sm class="horizontal-menu">
            <app-horizontal-menu [menuParentId]="0"></app-horizontal-menu>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <a routerLink="/submit-property" mat-mini-fab color="primary" fxHide="false" fxHide.gt-xs class="">
                <mat-icon>add</mat-icon>
            </a>
            <a routerLink="/submit-property" mat-raised-button color="primary" fxShow="false" fxShow.gt-xs
               class="uppercase">{{ 'SUBMIT_PROPERTY' | translate }}</a>
        </div>
    </div>
</mat-toolbar>
